* {
	font-family: 'Roboto', sans-serif;;
	padding: 0;
	margin: 0;
}

	header {
		color: white;
		background-image: url('img/background_header.png');
		height: 800px;
	}
		.header_top {
			display: flex;
			justify-content: space-around;

		}
			
			.menu ul {
				display: flex;
			}
			.menu a {
				text-decoration: none;
				color: white;
				font-weight: 600;
			}
				.menu a:hover {
					color: #E13A38;
				}
			.menu li {
				list-style-type: none;
				margin: 35px 50px;

			}
		.header_items {
			margin-left: 150px;
			margin-top: 200px;
			width: 500px;
		}
			h1 {
				font-size: 50px;
			}
			.header_items p {
				font-size: 18px;
				margin-top: 50px;
			}
		.header_bottom {
			margin-left: 150px;
			margin-top: 50px;
		}
			.header_bottom button {
				padding: 20px 40px;
				color: white;
				background-color: #282828;
				font-size: 16px;
				border-radius: 30px;
				border: solid #282828 2px;	
			}
				.header_bottom button:hover {
					background-color: #16C2A3;
					cursor: pointer;
				}
			#btn {
				margin-left: 30px;
			}

/*////////////////////////////////////////////////////////*/
	.main_1 {
		display: flex;
		height: 800px;
		color: #4B4B4D;
	}
		.main_1_left {
			margin: 100px 50px;

		}
		.main_1_right {
			margin-top: 240px;
			width: 600px;
			margin-left: 100px;
		}
			.main_1_right h2 {
				font-size: 36px;
			}
			.main_1_right p {
				margin-top: 40px;
				font-family: "Myriad Pro";
				font-size: 24px;
			}
			.main_1_right button {
				margin-top: 40px;
				padding: 20px 40px;
				color: white;
				background-color: #282828;
				font-size: 16px;
				border-radius: 30px;
				border: solid #282828 2px;
			}
				.main_1_right button:hover {
					background-color: #16C2A3;
					cursor: pointer;
				}
				/*///////////////////////////*/
	.main_2 {
		color: #4B4B4D;
		line-height: 25px;
		
	}
		.main_2_top {

		}
			.main_2_top h2 {
				text-align: center;
				font-size: 36px;
			}
			.main_2_top p {
				margin: 0 auto;
				width: 700px;
				text-align: center;
				margin-top: 40px;
				line-height: 30px;
			}
		.main_2_bottom {
			text-align: center;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			margin-left: 120px;
			margin-top: 50px;
		}
			.bottom_item {
				width: 330px;
				height: 330px;
				border: 3px solid;
				border-image-source: linear-gradient(to right, #32C39C, #E9CA77);
				border-image-slice: 1;
				margin-top: 50px;
				padding: 30px 30px;
			}

				.bottom_item img {

				}
				.bottom_item h3 {
					font-size: 18px;
					margin-top: 30px;
				}
				.bottom_item p {
					margin-top: 30px;
				}
				.bottom_item button {
					margin-top: 15px;
					padding: 20px 40px;
					color: white;
					background-color: #282828;
					font-size: 16px;
					border-radius: 30px;
					border: solid #282828 2px;
					position: relative;
					top: 35px;

				}
					.bottom_item button:hover {
						background: linear-gradient(to right, #39C39A, #E5C66D);
						border: none;
					}

				#form {
					background-image: url("img/griditem2.png"), url("img/griditem1.png");
					border: 3px solid white;
					color: white;
				}
					#form h3 {
						font-size: 30px;	
					}
					#form form {
						margin-top: 30px;
					}

					input[type=url] {
						width: 200px;
						height: 60px;
						background-color: white;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						border: none;
						font-size: 16px;
						
					}
					input[type=submit] {
						width: 100px;
						height: 60px;
						background-color: white;
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						border: none;
						font-size: 16px;
					}	
					/*//////////////////////////*/
	.main_3 {
		display: flex;
		margin-top: 220px;
		margin-left: 130px;
		color: #4B4B4D;
	}
		.main_3_left {
			width: 430px;
		}
			.main_3_left p:first-child {
				font-size: 14px;
			}
			.main_3_left h3 {
				font-size: 36px;
				margin-top: 30px;
			}
			.main_3_left p {
				font-size: 16px;
				line-height: 1.4em;
				margin-top: 50px;
				text-align: justify;
			}
			.main_3_left button {
				padding: 15px 40px;
				color: white;
				background-color: #282828;
				font-size: 14px;
				border-radius: 30px;
				border: solid #282828 2px;
				margin-top: 50px;
			}
			.main_3_left button:hover {
				background-color: #16C2A3;
				cursor: pointer;
				border: none;
			}
			.btn_2 {
				margin-left: 30px;
			}
		.main_3_center {
			width: 200px;

		}
			.main_3_center div {
				margin-top: 50px;
				padding-left: 100px;
			}
			.main_3_center span {
				font-size: 40px;
				color: #16C2A3;
				font-weight: 700;
			}
			.main_3_center p {
				font-style: 14px;
			}
		.main_3_right {
			width: 480px;
		}
			.main_3_right p {
				border-left: 3px solid #16C2A3;
				margin-top: 50px;
				padding-left: 40px;
				line-height: 1.4em;
			}	